<!--Uncomment this portion to run the api-->
<!--
<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city..." name="city" [(ngModel)]="cityName">
    </form>
</div>

<div class="container" *ngIf="weatherData">
    <div class="upper-data">
        <img src="/assets/images/day.png" *ngIf="weatherData.main.temp > 15">
        <img src="/assets/images/night.jpg" *ngIf="weatherData.main.temp <= 15">

        <div class="weather-data">
            <div class="location">{{weatherData.name}}</div>
            <div class="temperature">{{weatherData.main.temp | number: '1.0-0'}}°C</div>
        </div>
    </div>

    <div class="lower-data">
        <div class="more-info-label">
            More information
        </div>
        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="assets/images/cold.png">
                    <span>min</span>
                </div>
                <div class="info-block-value">
                    {{weatherData.main.temp_min | number: '1.0-0'}}°C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="assets/images/hot.png">
                    <span>max</span>
                </div>
                <div class="info-block-value">
                    {{weatherData.main.temp_max | number: '1.0-0'}}°C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img id="humid-img" src="assets/images/humid.png">
                    <span>humidity</span>
                </div>
                <div class="info-block-value">
                    {{weatherData.main.humidity}}%
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img id="windy-img" src="assets/images/windy.png">
                    <span>windy</span>
                </div>
                <div class="info-block-value">
                    {{weatherData.wind.speed}}km/h
                </div>
            </div>
        </div>
    </div>


</div>
-->

<!--Uncomment this portion to run it without API-->
<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city..." name="city" [(ngModel)]="cityName">
    </form>
</div>

<div class="container">
    <div class="upper-data">
        <img src="/assets/images/day.png" *ngIf="14 > 15">
        <img src="/assets/images/night.jpg" *ngIf="14 <= 15">

        <div class="weather-data">
            <div class="location">Wellington</div>
            <div class="temperature">{{14.40 | number: '1.0-0'}}°C</div>
        </div>
    </div>

    <div class="lower-data">
        <div class="more-info-label">
            More information
        </div>
        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="assets/images/cold.png">
                    <span>min</span>
                </div>
                <div class="info-block-value">
                    10°C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="assets/images/hot.png">
                    <span>max</span>
                </div>
                <div class="info-block-value">
                    20°C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img id="humid-img" src="assets/images/humid.png">
                    <span>humidity</span>
                </div>
                <div class="info-block-value">
                    77%
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img id="windy-img" src="assets/images/windy.png">
                    <span>windy</span>
                </div>
                <div class="info-block-value">
                    11km/h
                </div>
            </div>
        </div>
    </div>


</div>

